@using TradeWave.Models
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeWave ForgotPassword</title>
    <link rel="stylesheet" href="~/css/Login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="left-side">
        <div class="ProductName">TradeWave</div>
        <img src="https://img.freepik.com/free-photo/trading-stock-stock-market-business-graph-trading-investment-broker-stock-exchange-market_169016-66719.jpg?t=st=1742987815~exp=1742991415~hmac=47a2d063b429372c9fb34f56ace188dc2214c28aebc17d9433d63b0f7340b5fe&w=2000" alt="">
    </div>

    <div class="login-wrapper">
        <div class="login-box">
            <h2>Welcome Back!</h2>
            <p>Login to access your account</p>

            <form method="post" action="/Home/ForgotPassword">
                <input type="hidden" asp-for="Token">
                <input type="password" name="NewPassword" placeholder="Password" required>
                <input type="password" name="ConfirmPassword" placeholder="Confirm Password" required>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Error
                    </div>
                }

                <button type="submit" class="submit">Reset Password</button>
            </form>

            <p>Don't have an account? <a asp-controller="Home" asp-action="Register" >Sign up</a></p>
        </div>
    </div>
</body>
</html>
