@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradeWave Login</title>
    <link rel="stylesheet" href="~/css/Login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="left-side">
        <div class="ProductName">TradeWave</div>
        <img src="https://img.freepik.com/free-photo/trading-stock-stock-market-business-graph-trading-investment-broker-stock-exchange-market_169016-66719.jpg?t=st=1742914046~exp=1742917646~hmac=f5218757563de237f0f123fab4f30f703115b6213b28dd017b5f25d131cc4bef&w=2000" alt="">
    </div>

    <div class="login-wrapper">
        <div class="login-box">
            <h2>Welcome Back!</h2>
            <p>Login to access your account</p>

            <form method="post" action="/Home/Login">
                <input type="email" name="email" placeholder="Email address" required>
                <input type="password" name="password" placeholder="Password" required>

                <div class="options">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="/Home/SendMail">Forgot password?</a>
                </div>
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.Error
                    </div>
                }

                <button type="submit" class="submit">Sign In</button>
            </form>

            <p>Don't have an account? <a asp-controller="Home" asp-action="Register" >Sign up</a></p>
        </div>
    </div>
</body>
</html>
